{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="inicio">

    <div class="acerca-de-mi">

        <div class="mi-foto">

            <img src="{% static 'images/foto.jpg' %}" alt="Foto de AtreyusDev">

        </div>

        <div class="info">

            <h1>Hi, I am <strong style="color:aqua">Atreyus</strong></h1>

            <p>
                Backend programmer with +1 year of experience developing Databases, Graphic Interfaces, Scripts, and Apps that can manage data and allow the user a fast solution for all problem types. 
                Ready to learn new skills, and languages, improve my skills, and contribute with my work and heart :)
            </p>

            <p>
                Passionate about AI and data science. Should be my future, I wish it... I´m so happy full to see you here! Welcome.
            </p>

            <p>
                Please, check this section ('Home') to meet my abilities and knowledge. Then, you can see my projects in the 'Projects' section. 
                If you wanna contact me, you can do it in the 'Contact' section.
            </p>

            <p>
                Down and left, you can see my GitHub and LinkedIn. There you can see more personal information about me and check my activity in GitHub by my profile.
            </p>

        </div>
        
    </div>

    <div class="seccion-iconos">

        {% for icon in icons %}

        {% if icon.name == 'github' %}

        <a href="https://github.com/AtreyusRey" target="_blank"><img src="{{icon.image.url}}" class="iconos-contacto"></a>

        {% elif icon.name == 'linkedin' %}

        <a href="https://www.linkedin.com/in/atreyus-reyes-álvarez-316a7b256/" target="_blank"><img src="{{icon.image.url}}" class="iconos-contacto"></a>

        {% endif %}

        {% endfor %}

    </div>

</section>

<section class="conocimientos">

    <h1 class="titulo-conocimientos">Knowledges</h1>

    <div class="seccion-conocimientos">

        <div class="lenguajes">

            <h2 class="subtitulos">Lenguagues and Tools</h2>

            <p><img src="/media/icons/python.png">  Python</p>
            <p><img src="/media/icons/javascript.png">  JavaScript</p>
            <p><img src="/media/icons/java.png">  Java</p>
            <p><img src="/media/icons/html.png">  HTML</p>
            <p><img src="/media/icons/css.png">  CSS</p>
            <p><img src="/media/icons/sql.png">  SQL</p>

        </div>

        <div class="resumen">

            <h2 class="subtitulos">About</h2>

            <p>Basic knowledge of Java and JavaScript. Strong skills with Python. I can work with Graphic Interfaces,
                APIs Restful, API Gateway, Data Bases (Sqlite3, MySQL, PostgreSQL), GIT and Github, Django, and Pandas.
            </p>
            <p> My studies come from Udemy and a total autodidact education. Here is my
                certificate and my CV.
            </p>

            <div class="botones-certificado">

                <a href="{% static 'images/cv.pdf' %}" target="_blank"><h2>Show CV</h2></a>
                <a href="{% static 'images/CertificadoUdemyEnglish.jpg' %}" target="_blank"><h2>Certificate</h2></a>

            </div>

        </div>

    </div>

</section>

<br><br><br><br><br>

{% endblock %}