{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 class="project-title">My Projects</h1>

    {% if quanty_projects == 1 %}

        <div class="contenedor-proyectos1">

            {% for project in projects %}

            <div class="proyecto1">
                <div class="proyecto-imagen1">
                    <a href='{{project.image.url}}' alt="project image"><img src="{{project.image.url}}" alt="project" id="img-principal1"></a>
                </div>

                {% if project.url %}

                    {% if 'github' in project.url %}

                        {% for icon in icons %}

                        {% if icon.name == 'github' %}

                        <div class="link1">
                            <a href="{{project.url}}" target="_blank"><img src="{{icon.image.url}}" alt="GitHub Link"></a>
                        </div>

                        {% endif %}

                        {% endfor %}

                    {% else %}

                    {% endif %}

                {% else %}
                    <div class="link1">
                        <h4>Without Link</h4>
                    </div>

                {% endif %}

                <div class="proyecto-titulo1">
                {{project.title}}
                </div>
                <div class="proyecto-descripcion1">
                    {{project.description}}
                </div>
                
            </div>

            {% endfor %}

        </div>

    {% elif quanty_projects == 0 %}

        <div class="sin-proyectos">
            <h1>Oops.</h1>
            <h2>Not proyects founded yet.</h2>
        </div>

    {% elif quanty_projects > 1 %}

        <div class="contenedor-proyectos">

            {% for project in projects %}

            <div class="proyecto">
                <div class="proyecto-imagen">
                    <a href='{{project.image.url}}' alt="project image"><img src="{{project.image.url}}" alt="project" id="img-principal"></a>
                </div>

                {% if project.url %}

                    {% if 'github' in project.url %}

                        {% for icon in icons %}

                        {% if icon.name == 'github' %}

                        <div class="link">
                            <a href="{{project.url}}" target="_blank"><img src="{{icon.image.url}}" alt="GitHub Link"></a>
                        </div>

                        {% endif %}

                        {% endfor %}

                    {% else %}

                        {% for icon in icons %}

                        {% if icon.name == 'link' %}

                        <div class="link">
                            <a href="{{project.url}}" target="_blank"><img src="{{icon.image.url}}" alt="Link"></a>
                        </div>

                        {% endif %}

                        {% endfor %}

                    {% endif %}

                {% else %}
                    <div class="link">
                        <h4>Without Link</h4>
                    </div>

                {% endif %}

                <div class="proyecto-titulo">
                {{project.title}}
                </div>
                <div class="proyecto-descripcion">
                    {{project.description}}
                </div>
                
            </div>


            {% endfor %}

        </div>

    {% endif %}

{% endblock %}