{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 class="project-title">My Projects</h1>


        <div class="contenedor-proyectos">

            <div class="proyecto">
                <div class="proyecto-imagen">
                    <a href='{% static "images/imagen_2022-12-27_034727150.png" %}' alt="project image"><img src="{% static 'images/imagen_2022-12-27_034727150.png' %}" alt="project" id="img-principal"></a>
                </div>
                    <div class="link">
                        <a href="{% static 'icons/github_B7G9CbJ.png' %}" target="_blank"><img src="{% static 'icons/github_B7G9CbJ.png' %}" alt="GitHub Link"></a>
                    </div>

                <div class="proyecto-titulo">
                    World Of Warcraft Register
                </div>
                <div class="proyecto-descripcion">
                    This is my first project. World Of Warcraft Register (WOWR) is a ore farm register for players of World Of Warcraft Wrath Of The Lich King. This app was maked with Python and works with a graphic interface and a CRUD in a database.
                </div>
                
            </div>

            <div class="proyecto">
                <div class="proyecto-imagen">
                    <a href='{% static "images/WhatsApp_Image_2022-12-26_at_10.17.29_AM.jpeg" %}' alt="project image"><img src="{% static 'images/WhatsApp_Image_2022-12-26_at_10.17.29_AM.jpeg' %}" alt="project" id="img-principal"></a>
                </div>
                    <div class="link">
                        <a href="{% static 'icons/wqfowqo.png' %}" target="_blank"><img src="{% static 'icons/wqfowqo.png' %}" alt="GitHub Link"></a>
                    </div>

                <div class="proyecto-titulo">
                    Instagram
                </div>
                <div class="proyecto-descripcion">
                    Instagram ​ es una aplicación y red social de origen estadounidense, propiedad de Meta. Creada por Kevin Systrom y Mike Krieger, fue lanzada el 6 de octubre de 2010. Ganó rápidamente popularidad, llegando a tener más de 100 millones de usuarios activos en abril de 2012 y más de 300 millones en diciembre de 2014.​
                </div>
                
            </div>

        </div>

{% endblock %}