{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="contacto">

    <div class="fondo-contacto">

        <div class="texto">

            <h1 style="color: aqua;">Contact me</h1>
            <p>¿Are you looking for a new talent?</p>
            <p>¿Do you want to transform an idea to reality?</p>
            <p>Send me a message!</p>

            {% if form.errors %}

            <p style="color: red;">Please, check the inserted data and try again.</p>

            {% endif %}

            <form action="" method="POST" class="campos"> 
                
                {% csrf_token %}

                <table  class="formulario">

                    {{form.as_table}}

                </table>

                <input type="submit" value="Send" class="boton_enviar">

                {% if "valid" in request.GET %}

                    <p style="color: rgb(0, 204, 255);">Message sended succesfully.</p>
                    <p style="color: rgb(0, 204, 255);">I will answer you.</p>
                    
                {% endif %}

                <br>

            </form>

        </div>
        

    </div>

</section>

{% endblock %}